:root{
    --forrest: #004F2D;
    --skobeloff: #286E69;
    --skobeloffLight: #328a83;
    --blueMunsel: #508CA4;
    --pewterBlue : #91AEC1;
    --beauBlue : #BFD7EA;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
}
body{
    width:100%;
    background-color: var(--skobeloff);
}
/* div{
    background-color: var(--pewterBlue);
} */

/* ul{
   
    
} */
.navlist li{
    padding: 50px;
    /* background-color: var(--skobeloff); */
    
}
.navlist a{
    width:20px;
font-size: 20px;
text-decoration: none;
transition: all 2s ease;
}
ul{
    transition: all 2s ease;
}
.navbar{
   
    width:100%;
    position:absolute;
    justify-content: center;
    align-items: center;
    
}


.navlist{
    position: fixed;
    background-color: var(--pewterBlue);
    list-style: none;
    
    transform: translateX(-100%);
    transition: transform 2s ease;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    width:50%;
    max-width: 250px;
    min-width: 150px;
    /* display:none; */
    height:100vh;
    opacity: 1;
   z-index: 22;
}

.x, .y{
    font-size: 50px;
    z-index: 5555555;
    position:fixed;
    right: 0;
    margin: 5px 5px 0 0;
    font-size: 30px;
}
.showMenu{
    position:fixed;
    transform: translateX(0%);
    
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    /* transition: all 2s ease; */
    width:50%;
    opacity: 1;
    z-index: 99;
    
    /* position:sticky; */
    
}
.showMenu img{
    margin: 0 auto;

}
.logo{
margin: 0 auto;
}

/*HOME SECTION*/
.home{
    /* background-image: url(/img/usamljeni\ vuk\ cover.jpg);
    background-repeat: no-repeat;
    background-size: 360px 640px; */
        /* background-color: var(--skobeloff); */
        height: 100vh;
        background-color: var(--skobeloff);
        
}
.homeWrapper{
    display:flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}
.homeImg{
    margin: 0 auto;
    position: relative;
    top: 15vh;
}
.about{
    
    height: 100vh;
}
.aboutWrapper{
    display:flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}
.aboutHeadImg{
    margin: 20px auto 0;
}
.aboutHeadImg h1{
    text-align: center;
    padding-bottom: 20px;
}
.aboutParagraph{
    background-color: var(--skobeloffLight);
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.products{
    background-color: var(--pewterBlue);
    height: 100vh;
}
.contact{
    background-color: var(--beauBlue);
    height: 100vh;
}
#topBtn{
        position: fixed; 
        bottom: 20px; 
        right: 20px; 
        z-index: 99; 
        background-color: var(--forrest);
        cursor: pointer;  
        width: 30px;
        height: 30px;
        border:none;
        box-shadow: 0 0.1rem 0.1rem 0.1rem var(--skobeloffLight);
        border-radius: 20px; 
        transition: background-color .3s ease;
        
}
#topBtn:hover {
    background-color: var(--beauBlue); 
}

#topBtn:focus {
outline:0;
}

#topBtn img{

position: relative;
top: 4px;

}


/* DEMO-SPECIFIC STYLES */
.typewriter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 100%;
    position: absolute;
    bottom: 20vh;
    background-color: var(--skobeloffLight);
}
.typewriter h1 {
    text-align: center;
    color: black;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--forrest); /* The typwriter cursor */
    white-space: nowrap; /*Keeps the content on a single line*/
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--beauBlue) }
  }

